.headerContainer {
    width: 100%;
    height: 65px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0px 5px #888888;

    a {
        color: unset;
        text-decoration: none;
    }

    a:hover {
        color: #030303 !important;
        text-decoration: none !important;
    }

    .nav-brand {
        height: 64px;
        border-bottom: 1px solid #ff1300;
        align-items: center;
        padding: 0px 56px 0px 9px;
    }
    .nav-bar {
        position: absolute;
        right: 0;
        top: 0;
        height: 0;
        width: calc(100% - 225px);
        border-bottom: 65px solid #ff1300;
        border-left: 65px solid transparent;
        border-right: 0px solid transparent;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: -1;
    }
    .logoImg {
        padding: 20px 0px 20px 20px;
        width:100px;
    }
    .hamburger {
        padding: 24px 36px 24px 0px;
        margin-left: 21px;
    }
    .addBtn {
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburgerBtn {
        background: none;
        border: none;
        cursor: pointer;
    }
    .hamburgerIndicatorTriangle {
        position: absolute;
        top: -11px;
        left: 373px;
        width: 0px;
        height: 0px;
        border-bottom: 11px solid #ffffff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 0px solid transparent;
    }
    .hamburgerDropdown {
        position: absolute;
        width: 400px;
        height: 100%;
        right: 0px;
        top: 0px;
        border: 1px solid rgba(0, 0, 0, 0.04);
        z-index: 1000;
        background: #FFFFFF;
        box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.25);
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .hamburger-container{
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 100;
    }
    .hamburger-cancelIcon{
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 300;
        cursor: pointer;
    }
    .close-icon-section {
        margin: 10px;
        border-bottom: 1px solid #ff1300;
        width: calc(100% - 20px);
        height: 50px;
    }
    .hamburger-list-section {
        display: flex;
        width: calc(100% - 40px);
        align-items: flex-start;
    }
    .hamburger-list {
        text-align: left;
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .hamburger-list-item {
        cursor: pointer;
        padding: 15px 0;
        border-bottom: 1px solid #ff1300;
        width: 100%;
    }
    .hamburger-close-icon-section {
        height: 50px;
        width: calc(100% - 40px);
        border-bottom: 1px dotted #000;
        margin: 10px;
    }
}