/* .report {
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
} */


.arrhome {
    display: flex;
}

.home {
    font-weight: 600;
    font-size: 18px;
}

.search {
    align-self: center;
}


.arrimg {
    margin-right: 10px;
}

.bread {
    align-items: center;
    // background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 82px;
    /* top: 82px; */
    /* z-index: 50; */
}


.pgheader {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}


.half {
    display: flex;
}


.kpi {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    /* font-family: Yantramanav,sans-serif; */
    position: relative;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 20px;
    padding: 0 15px;

}

.kpic {
    display: flex;
    align-items: center;
    // padding-left: 20px;
    // padding-top: 12px;
    padding-right: 20px;
    margin-right: 10px;
    /* border-bottom-width: 1px;*/
    // margin-bottom: 35px;

}

.kpn1 {
    font-size: 32px;
}




.kpii {
    width: 46px;
    height: 62px;
    display: flex;
    align-items: center;
}


.kpi1 {
    padding-right: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.search {
    background: #fff;
    border: 1px solid #ababab;
    border-radius: 4px;
    width: 205px;
    height: 12;
}

.searchinp {
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #3c3c3c;
    /* font-family: Yantramanav; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 12px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 11px 16px;
    padding-right:8px;
    text-align: left;
    width: 180px;
}


.lbl1 {
    padding-top: 5px;
}



.search_submitButton {
    background: url(../../assets/images/svgs/searchbtn.svg);
    background-position-x: 0;
    background-position-y: center;
    background-repeat: no-repeat;
    border: none;
    color: #3c3c3c;
    cursor: pointer;
    height: 18px;
    vertical-align: text-top;
    justify-self: center;
    width: 23px;
    position: absolute;
    top: 32px;
    left: 1230px;
}


.rlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    width: 130px;
}


.table-head {
    width: 100%;
    /* border-bottom: 2px solid #3994ff; */
}

.table-header-cell {
    /* font-family: "Lato"; */
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 12px;
}


.table__cell, .table__cell--body {
    /* font-family: "Lato"; */
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 12px;
}

.request-button {
    width: auto;
    padding: 10px;
    border: 1px solid #ff1300;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
}

.add-project-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.add-project {
    display: flex;
    align-items: center;
}

.add-project-text {
    margin-right: 20px;
    margin-left: 5px;
}